body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span.text-content{
	background: rgba(0,0,0,0.7);
	  color: white;
	  cursor: pointer;
	  height: 300px;
	  position: absolute;
	  top: 0;
	  width: 300px;
	  opacity: 1;
		-webkit-transition: opacity 500ms;
	  -moz-transition: opacity 500ms;
	  -o-transition: opacity 500ms;
	  transition: opacity 500ms;
	  text-align: center;
	  padding-top:20px;
	  padding-bottom: 10px;

}
span.text-content span {
  text-align: center;
  vertical-align: middle;
}

/*.scLink:hover{
	background:  rgba(0,0,0,0.3);
}
.scLink:hover .trackName{
	opacity: 1;
}*/
/*.trackName{
	color: white;
	opacity: 0
}*/

.thumbnail {
    display: block;
    padding: 0px; 
    margin : 0px; 
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px; 
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail a>img, .thumbnail>img {
     margin-right: 0; 
     margin-left: 0; 
}
.thumbnail:hover span.text-content  {
	opacity: 0
}

